.gitignore
*.designer.cs
*.txt
*.ini
*.htm
Thumbs.db
*.pdm
*.skn
*.rar
*.zip
*.lnk
*.obj
*.exe
*.chm
*.EXE
*.com
*.ocx
*.dll
*.frx
*.mdb
*.SCC
*.vbw
*.swf
*.jpg
*.bmp
*.gif
*.psd
*.png
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
黑月/
它山之石/
正则的学习/
智能校时/
旅游地图/
货品/
36计/