*{-webkit-tap-highlight-color:rgba(255,255,255,0)}
html,body,p,form,ul,h1,h2,h3,h4,h5,h6,th,td{margin:0;padding:0}
article,aside,footer,header,menu,section{display:block}
h1,h2,h3,h4,h5,h6{font-weight:normal}
table{border-collapse:collapse;border-spacing:0;width:100%;box-sizing:border-box}
a{color:#333;text-decoration:none}
li{list-style:none}
.txt,textarea{font-size:14px;-webkit-appearance:none;border-radius:0}
font{font-family:"Microsoft YaHei"}
input{font-family:"Microsoft YaHei"}
/*add images*/ 

html{background-color:#F4F4F4;}
body{font:14px; font-family :"Microsoft YaHei";color:#606060;-webkit-text-size-adjust:none;}
.default{color:#ACA899}
.clear{clear:both}
.hide{display:none}
.ht{white-space:nowrap;text-overflow:ellipsis;overflow:hidden}

.check_img{width:20px;height:24px;vertical-align:middle;margin-right:3px;background-position:-11px -5px;-webkit-background-size:43px auto;background-size:43px auto}
.check_img.checked{background-position:-11px -38px}


.but{display:inline-block;height:29px;line-height:29px;color:#FFF;padding:0 10px;border:1px solid #ffcfa1;border-top-color:#b5580f;border-left-color:#b5580f;border-radius:3px;background-image:-webkit-gradient(linear,left top,left bottom,from(#058ac5),to(#85e2f1))}
/*background: -webkit-gradient(linear,0 0,0 100%,from(#85e2f1),to(#058ac5));*/
.button{display:block;width:70%;margin:20px 15%;padding:8px; font-size:16px;-webkit-box-sizing:border-box;box-sizing:border-box;
        border:none;border-radius:8px; color:#ffffff; font-family:"Microsoft YaHei";text-shadow: 1px 1px 0px #666;
        box-shadow: 1px 2px 3px #666;border: 1px solid #24699a;}
.loginbutton{background-image: -webkit-gradient(linear,left top,left bottom,from(#faee5a),to(#fbb611));display:block;width:70%;
             margin:20px 15%;padding:8px; font-size:20px;-webkit-box-sizing:border-box;box-sizing:border-box;
             border:none;border-radius:8px; color:#ffffff; font-family:"Microsoft YaHei";text-shadow: 1px 1px 0px #3484bb;
             box-shadow: 1px 2px 3px #3484bb;border: 1px solid #f8d533;}
.slide_box{position:relative;left:100%;background-color:#F4F4F4;z-index:2; }
.more{position:relative;height:50px;line-height:50px;text-align:center;margin:-10px 0 10px}
.more .text{display:block;font-size:15px;color:#949494}
.more img{width:15px;height:19px;vertical-align:middle;margin-left:1px;background-position:-11px -513px;-webkit-background-size:36px auto;background-size:36px auto}
.popupBtn{width:65px;height:22px;background:#33FFFF url(http://m.xiaoxiangrc.com/content/personal/images/infoBoxBtn.gif) no-repeat;border:0;font:12px/22px "新宋体";line-height:24px;cursor:pointe; margin-right:5px}
.pages{height:40px;text-align:center; margin-top:15px}
.pages .link{display:inline-block;font-size: 12px;color:#73797C;margin:0 5px;padding:3px 5px;border:1px solid #C4C4C4;border-radius:3px;background-image:-webkit-gradient(linear,left top,left bottom,from(#FBFBFB),to(#E4E4E4))}
/*导航栏的遮罩*/
#shadow{position:absolute;width:100%;top:0;background-color:#000;opacity:0.5;z-index:10}
#menushadow{position:absolute;width:100%;top:0;background-color:#000;opacity:0.5;z-index:10}
/*Ajax查询职位的载入图*/
#wrapper{background-color:#F4F4F4}
#wrapper{position:relative;z-index:0; overflow:hidden;}


.h_box{position:relative;max-height:375px;line-height:25px !important;overflow:hidden}
.h_pt{line-height:16px}
.h_op{display:block;line-height:20px;text-align:center;color:#949494}

/*导航*/

.nav2{ display:none;}

.search{position:relative;height:32px;margin:20px 12px 0;padding:5px;background-color:#F4F4F4;z-index:1}
.search p{overflow:hidden;background-position:-7px -799px;background-color:#FFF;margin-right: 87px;}
.search .keyword{width:100%;height:35px;-webkit-box-sizing:border-box;box-sizing:border-box;background-color:#FFF;border-radius:5px 0px 0px 5px;border:1px solid #d3d3d3;padding-left: 28px;overflow: hidden; border-right:none;}
.search .submit{position: absolute;width: 87px; height: 35px;line-height: 35px;text-align: center;
top: 5px;right: 5px;border: 1px solid #f8d533; border-bottom: 1px solid #db9c03;border-radius: 0px 5px 5px 0px; background-image: -webkit-gradient(linear,left top,left bottom,from(#faee5a),to(#fbb611)); font-size:15px;text-shadow:0 0 1px #3484bb; color:#864f00;  font-family: "Microsoft YaHei"}

.search.t2 p{margin-right:78px}
.search.t2 p.no_margin{margin-right:0px}
.search input{}
.search span{display:none;position:absolute;width:70px;height:30px;line-height:30px;text-align:center;top:5px;right:5px;background-position:0 -37px;border:1px solid #ADADAD;border-radius:3px}	
.search.t2 span{display:block}

.s_con{display:none}
.s_con h6{font-size:16px;color:#979797;padding:15px 12px;border-bottom:1px solid #D6D6D6}
.s_con p{position:relative;height:45px;line-height:45px;font-size:15px;padding:0 12px;border-top:1px solid #FFF;border-bottom:1px solid #D6D6D6}
.s_con a{display:block}
.s_con p span{width:120px;position:relative;text-align:right;float:right;top:-45px}
.s_con .c_op{width:100%;height:45px;overflow:hidden;top:-45px}
.s_con .c_op span{float:left;width:50%;line-height:45px;text-align:center;color:#4D6D9E}

.reg_op{position:relative;height:80px;margin:0 15px}
.reg_op p{margin-right:130px;line-height:50px}
.reg_op .butt{width:120px;position:absolute;right:0;top:0;margin:0}
.reg_notice{position:relative;line-height:20px;color:#f15905;margin-bottom:-10px;padding:0 15px 0 43px;background-position:13px -363px;-webkit-background-size:36px auto;background-size:36px auto}
/*页脚*/
.bottom{bottom:0;height:29px;line-height:29px;padding:5px 10px 7px 8px;background-image:-webkit-gradient(linear,left top,left bottom,from(#febb52),to(#fb6a01));
         box-shadow: 1px 1px 1px #666; width:100%}
.bottom .u_name,.bottom .lk{float:left;color:#FFF;margin-right:10px}
.bottom .top{float:right;color:#FFF;padding-right:18px;background:url(http://m.xiaoxiangrc.com/content/personal/images/Top.png) right center no-repeat;margin-right: 30px;}
.bottom .person{float:left;padding-left:18px;margin-left: 30px;}
.bottom .slide{padding: 3px 5px 5px 5px; width:51px;height:32px; border:1px solid #185088; color:#ffffff; cursor:pointer; text-shadow: 1px 2px 3px #165883; border-top:1px solid white; border-left:1px solid white; border-radius:3px; background:url("http://m.xiaoxiangrc.com/content/personal/images/002.png")}
/*弹出层提示*/
.popWin{display:none;position:absolute;width:90%;line-height:160%;font-size:16px;color:#0462a3;margin:0 5%;padding:5px 10px;background-image:-webkit-gradient(linear,left bottom,left 99%,from(white),to(white));border-bottom:8px solid #b9b9b9;-webkit-box-sizing:border-box;box-sizing:border-box;z-index:20}
.popWin p{position:relative}
.popWin img{width:28px;height:32px;vertical-align:middle;margin-right:5px;background-position:-3px -152px;-webkit-background-size:30px auto;background-size:30px auto}
.popWin.error img{background-position:-3px -115px}
.popWin.wrong img{width:23px;height:23px;background-position:-5px -437px;-webkit-background-size:36px auto;background-size:36px auto}
.popWin.alert,.pop.confirm{padding:15px}
.popWin .butt{margin:5px 25% 0}
.popWin .but{height:26px;line-height:26px;font-size:15px;margin:5px 10px 0;padding:0 20px}
.popWin.alert .cor,.pop.confirm .cor,.pop.wrong .cor{bottom:-23px}

.popWin1{display:none;position:absolute;width:90%;line-height:160%;font-size:16px;color:#0462a3;margin:0 5%;padding:5px 10px;background-image:-webkit-gradient(linear,left bottom,left 99%,from(white),to(white));box-shadow:1px 2px 2px #000;-webkit-box-sizing:border-box;box-sizing:border-box;z-index:20}
.popWin1 p{position:relative}
.popWin1 img{width:28px;height:32px;vertical-align:middle;margin-right:5px;background-position:-3px -152px;-webkit-background-size:30px auto;background-size:30px auto}
.popWin1.error img{background-position:-3px -115px}
.popWin1.wrong img{width:23px;height:23px;background-position:-5px -437px;-webkit-background-size:36px auto;background-size:36px auto}
.popWin1.alert,.pop.confirm{padding:15px}
.popWin1 .butt{margin:5px 25% 0}
.popWin1 .but{height:26px;line-height:26px;font-size:15px;margin:5px 10px 0;padding:0 20px}
.popWin1.alert .cor,.pop.confirm .cor,.pop.wrong .cor{bottom:-23px}

/*设置*/
header h1{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:21px;padding-top:9px;}
 
/*首页中部的按钮*/
.blocks{width:100%;max-width:320px;margin:30px auto}
.blocks p{float:left;width:33%;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box;padding:3px 7px}
.blocks a{display:block;width:61px;height:61px;overflow:hidden;margin:0 auto;box-shadow:1px 2px 3px #666;background:-webkit-gradient(linear,0 0,0 100%,from(#febb52),to(#fb6a01));border-radius:8px}
.blocks img{width:61px;height:61px;background:url("http://m.xiaoxiangrc.com/content/personal/images/IndexBut.png") no-repeat;}
.blocks .i2{background-position:-81px 0}
.blocks .i3{background-position:-162px 0}
.blocks .i4{background-position:2px -80px}
.blocks .i5{background-position:-81px -80px}
.blocks .i6{background-position:-163px -80px}
.blocks span{display:block;height:20px;line-height:20px;padding-top:5px;text-overflow:ellipsis}
.clear { clear:both}

/*查看简历*/
.cvview { margin-top:3px; margin-bottom:2px; margin-bottom:10px}
.cvview h3{position:absolute;width:90%;line-height:35px;font-size:14px;color:#0462a3;text-indent:12px;top:1px;left:0px;padding-right:10px;
            background:none; font-weight:bold;}
.cvview .box{-webkit-background-size:17px auto;background-size:17px auto; background:url(http://m.xiaoxiangrc.com/content/personal/images/Arrow.png) 97% 5px no-repeat; }
.cvview .title .has_list{background-image:url(http://m.xiaoxiangrc.com/content/personal/images/ArrowB.png);}
.cvview .title .noarrow{ background:none;}
.cvview .content {clear:both;padding-left:0px ; font-size:14px; color:Black; line-height:22px }
.cvview .contetn table{ border:none}
.cvview em{font-style: normal;font-weight: bold;color: red;margin-right: 5px; text-shadow: 0px 1px 0px #666}
.cvview .contentExperience { clear:both;padding-left:0px ; font-size:14px; color:Black; line-height:22px }
.cvview .contentEducation { clear:both;padding-left:0px ; font-size:14px; color:Black; line-height:20px }
.cvview .content td{padding-left:5px;}   
.cvview .contentExperience li span{padding-left:5px;}
.firstLine{color:#0462a3}
.cvview .content a{color:#0462a3; }
.ContentSkill{clear:both; padding-left:3px; margin-left:2px; margin-top:5px;}
.ContentSkill_R{ margin: 0px; padding: 0px;  }
.ContentSkill li{clear:both;margin-left:0px}
.ContentCvEducation{background:url(http://m.xiaoxiangrc.com/content/personal/images/studyIcon.gif) no-repeat; padding-left:32px; margin-left:0px}
.ContentCvTraining{background:url(http://m.xiaoxiangrc.com/content/personal/images/TrainIcon.gif) no-repeat;padding-left:32px;margin-left:0px}
.ContentCvExperience{background:url(http://m.xiaoxiangrc.com/content/personal/images/workIcon.gif) no-repeat;padding-left:32px;margin-left:0px}
.ContentCvProject{background:url(http://m.xiaoxiangrc.com/content/personal/images/ProjectIcon.gif) no-repeat;padding-left:32px;margin-left:0px}
.cle{ clear:both;}
.tishi{ clear:both; padding:7px;border:2px solid #F93;background-color:#FFECFF;}

.tab{width:70%;height:40px;margin:10px auto 20px; box-shadow:1px 2px 3px #666;border-radius:8px;}
.tab.l3{width:90%}
.tab .butt{float:left;width:50%;margin:0 !important}
.tab .left{padding-right:1px;border-radius:8px 0 0 8px}
.tab .left .con{border-radius:7px 0 0 7px}
.tab .right{padding-left:1px;border-radius:0 8px 8px 0}
.tab .right .con{border-radius:0 7px 7px 0}

.tab .mid{padding-left:1px;padding-right:1px;border-radius:0}
.tab .mid .con{border-radius:0}
.tab.l3 .butt{width:25%}

.but{display:inline-block;height:29px;line-height:29px;color:#FFF;padding:0 10px;border:1px solid #ffcfa1;border-top-color:#b5580f;
     border-left-color:#b5580f;border-radius:3px;background-image:-webkit-gradient(linear,left top,left bottom,from(#4296cd),to(#2577b6))}
.butt{display:block;width:70%;margin:20px 15%;padding:3px;-webkit-box-sizing:border-box;box-sizing:border-box;background-position:0 -105px;
      -webkit-background-size:auto 397px;background-size:auto 397px;border:none;border-radius:3px;}
.butt.middle{background-position:0 -116px;-webkit-background-size:auto 437px;background-size:auto 437px}
.butt .con{display:block;height:32px;line-height:32px;font-size:15px;color:#FFF !important;text-align:center;background-position:0 -53px;
           -webkit-background-size:auto 475px;background-size:auto 475px;border:1px solid #fb6a01;border-radius:7px;
           background-image:-webkit-gradient(linear,left top,left bottom,from(#febb52),to(#fb6a01));font-family: "Microsoft YaHei";
           text-shadow: 1px 1px 0px #d32e18;}
.but_gy .con,.butt.hover .con,.but_lt.hover .con{background-position:0 -90px;border-color:#939393}
.butt.middle .con{height:36px;line-height:36px}
.butt.min{width:50%;margin:20px 25%}
.butt.min .con{height:32px;line-height:32px;font-size:15px} 

.button_green{ padding:0px;width:92px;height:27px; margin:0 auto;box-shadow:1px 2px 3px #666;background:-webkit-gradient(linear,0 0,0 100%,from(#89c742),to(#5dab03)); border:1px solid #569f03 ;border-radius:3px; color:#fff;text-shadow: 1px 1px 0px #666; font-family:"Microsoft YaHei";border: 1px solid #24699a;}
.button_blue{ padding:0px;width:92px;height:27px; margin:0 auto;box-shadow:1px 2px 3px #666;background:-webkit-gradient(linear,0 0,0 100%,from(#4397cd),to(#227bbd)); border:1px solid #126dae ;border-radius:3px; color:#fff;text-shadow: 1px 1px 0px #666; font-family:"Microsoft YaHei";border: 1px solid #24699a;}

/*应聘的简历 筛选*/
.sel{color:#333;background-color:#FFF;font-size:14px;padding-top:15px;padding-bottom:10px; vertical-align:middle;z-index:105;background: #F4F4F4; border-bottom:1px solid #fff; border-top:1px solid #fff}
.sel p{float:left;width:150px}
.sel .spText{background-image:-webkit-gradient(linear,left top,left bottom,from(#4296cd),to(#2577b6));border-radius: 5px; padding:2px 0px 2px 10px; color:white; line-height:25px; box-shadow: 1px 1px 1px #666;border: 1px solid #24699a;}
.sel .spImg{line-height:25px;}
.sel ul{position:absolute; width:104px; z-index:100;background-color:white; border-right: 1px solid #24699a; border-top: 1px solid #24699a; border-left: 1px solid #24699a; border-bottom:none; box-shadow:1px 2px 1px 0px #666; border-radius:3px; display:none; border-radius: 5px;}
.sel li{border-top: 1px solid #FFF;border-bottom: 1px solid #D6D6D6;text-align:center; line-height:35px;background:#F4F4F4;border-radius: 5px;}


/*首页tab */
.tabFirst{position:absolute;height:26px;right:5px;top:7px}
.tabFirst p{float:left;position:relative;width:45px;height:26px}
.tabFirst span{position:absolute;width:100%;line-height:28px;text-align:center;color:#606060;-webkit-box-sizing:border-box;box-sizing:border-box}
.tabFirst .mk{width:43px;height:25px;border-radius:3px 3px 0 0}
.tabFirst .mk span{line-height:26px;color:#fc6e03;border:1px solid #CECECE;border-bottom:none;border-radius:3px 3px 0 0;
              background-image:-webkit-gradient(linear,left top,left 30%,from(#DFDFDF),to(#F4F4F4))}
              
.sc{position:relative;overflow:hidden;padding:12px 0}
.scWp{display:-webkit-box}
.scbox{width:100%;-webkit-box-flex:1;-webkit-transform:translate(0px,0px);-webkit-backface-visibility:hidden;backface-visibility:hidden}
.sc3{width:300%}