body{background:#efefef;color:#000000;margin:0;padding:0;-webkit-text-size-adjust:none;-webkit-font-smoothing:antialiased;}
.content{font-size:14px;margin:0 auto;max-width:640px;min-width:320px;width:100%;background-color:#fff;}
html,body,p,form,div,table,textarea,input{font-size:medium;vertical-align:middle;font-style:normal;font-family:"Microsoft Yahei",Verdana,Arial,Helvetica,sans-serif;}
form{border:0;margin:0;padding:0;}
img{border:0;vertical-align:middle;}
textarea{width:95%;}
input,button,select,textarea{-webkit-appearance:none;outline:none;margin:0;padding:0;border:0;}
#jobSelect{-webkit-appearance:menulist;border:1px solid;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
.header{width:100%;text-align:center;color:#ffffff;padding:8px 0;background:-moz-linear-gradient(top,#2b78e4,#0066CC);background:-webkit-gradient(linear,left top,left bottom,from(#2b78e4),to(#0066CC));}
.header_bar{height:60px;background:#ff5a28;position:relative;}
.footer1{color:#FFFFFF;background:-moz-linear-gradient(top,#929292,#929292);background:-webkit-gradient(linear,left top,left bottom,from(#929292),to(#929292));height:40px;line-height:40px;padding:0 20px;margin-top:15px}
.footer1 a{color:#FFFFFF;text-decoration:none;margin-left:10px}
.footer2{margin:20px 0 20px 0;line-height:200%;text-align:center;font-size:14px;}
.footer2 a{color:#000000;text-decoration:none;}
.fullscreen{background:none repeat scroll 0 0 #FFFFFF;margin:0 auto;overflow:hidden;position:relative;}
.fullscreenRegister{/*background:none repeat scroll 0 0 #f1f1f1;*/
 margin:0 auto;overflow:hidden;position:relative;}
.top_menu{overflow:hidden;width:100%;font-size:14px;margin-bottom:10px;background:#fafafa;}
.top_menu div{color:#666666;border-top:0;border-right:0;overflow:hidden;text-align:center;height:35px;width:24.9%;line-height:35px;float:left;}
.top_menu div a{font-size:15px;text-decoration:none;display:block;color:#666666;}
.top_menu .selected{width:24%;border-bottom:4px solid #ff9327;padding-top:5px;padding-bottom:5px}
.top_menu .selected .personlogin{display:inline-block;width:30px;height:30px;background:url(../pimages/loginicon.png) 0px 0px no-repeat;vertical-align:middle;}
.top_menu .noselected{width:24%;border-bottom:1px solid #c9c9c9;padding-top:5px;padding-bottom:5px}
.top_menu .noselected .companylogin{display:inline-block;width:40px;height:30px;background:url(../pimages/loginicon.png) -40px 0px no-repeat;vertical-align:middle;}
.top_menu .selected a{font-size:16px;color:#ff3c00;}
.top_menu .selected span{width:50px;background:url(../pimages/loginicon.png) 0px 0px no-repeat;}
.top_menu .noselected a{font-size:16px;color:#666666;}
.top_menu .register{width:90%;height:41px;padding-top:7px;text-align:left;padding-left:5%}
.top_menu .register a{font-size:20px;color:#ff3c00;}
/**企业登录选中样式*/
.top_menu .cpselected{width:24%;border-bottom:4px solid #0688dc;padding-top:5px;padding-bottom:5px}
.top_menu .cpselected .companylogin{display:inline-block;width:34px;height:30px;background:url(../pimages/loginicon.png) -42px -39px no-repeat;vertical-align:middle;}
.top_menu .cpselected a{font-size:20px;color:#0688dc;}
.top_menu .cpselected span{width:50px;background:url(../pimages/loginicon.png) 0px 0px no-repeat;}
.top_menu .noselected{width:24%;border-bottom:1px solid #c9c9c9;padding-top:5px;padding-bottom:8px}
.top_menu .noselected .personlogin{display:inline-block;width:34px;height:30px;background:url(../pimages/loginicon.png) 0px -39px no-repeat;vertical-align:middle;color:#666666}
/**企业登录选中样式结束*/
.clear{clear:both;font-size:0;line-height:0;overflow:hidden;height:0;}
#Loading{z-index:10}
@-webkit-keyframes loading-anim{0%{-webkit-transform:rotate(0)}
50%{-webkit-transform:rotate(180deg)}
100%{-webkit-transform:rotate(360deg)}}
.page-loading-logo,.page-loading-anim{margin-top:160px;height:70px;width:70px;display:inline-block;background:url(http://m.xiaoxiangrc.com/content/personal/pimages/loading.png) 0 0 no-repeat;background-size:70px 140px}
.page-loading-anim{margin:0;-webkit-animation:loading-anim 2s linear infinite;background-position:0 -70px}
.btn_back{z-index:1000;position:absolute;top:15px;left:3px;height:25px;line-height:25px;margin-left:10px;padding-left:14px;color:#fff;}
.btn_back1{display:none;z-index:1001;}
.btn_back:before{content:' ';left:0;width:18px;height:18px;border:#ffffff solid;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);border-width:0 0 2px 2px;display:inline-block;position:absolute;}
/*头部*/
header{position:relative;height:50px;text-align:center;clear:both;background-image:-webkit-gradient(linear,left top,left bottom,from(#ff5a28),to(#ff5a28));border-bottom:1px solid #d32e18;}
header h1{font-size:26px;color:#FFF;margin:0 80px;padding-top:5px;}
header h2{font-size:21px;color:#FFF;margin:0 80px;padding-top:13px;font-weight:normal;}
a.loginbtn{float:right;display:block;color:#fff;font-size:16px;margin-top:-22px;margin-right:20px;}
/*弹出层提示*/
.pop{display:none;position:absolute;width:90%;line-height:160%;font-size:16px;color:white;text-align:center;margin:0 5%;padding:30px 10px;background-image:-webkit-gradient(linear,left bottom,left 99%,from(#000),to(#000));box-shadow:1px 2px 2px #000;-webkit-box-sizing:border-box;box-sizing:border-box;z-index:20;opacity:0.6;border-radius:3px;z-index:999}
.pop p{position:relative}
.pop img{width:28px;height:32px;vertical-align:middle;margin-right:5px;background-position:-3px -152px;-webkit-background-size:30px auto;background-size:30px auto}
.pop.error img{background-position:-3px -115px}
.pop.error p{color:#fff;}
.pop.error a{color:blue;}
.pop.wrong img{width:23px;height:23px;background-position:-5px -437px;-webkit-background-size:36px auto;background-size:36px auto}
.pop.alert,.pop.confirm{padding:15px}
.pop .butt{margin:5px 25% 0}
.pop .but{height:26px;line-height:26px;font-size:15px;margin:5px 10px 0;padding:0 20px}
.pop.alert .cor,.pop.confirm .cor,.pop.wrong .cor{bottom:-23px}
.btnshare{display:inline-block;width:30px;height:31px;background:url(http://m.xiaoxiangrc.com/content/personal/pimages/share.png) 0 0 no-repeat;margin-top:-5px;}
.boxM{position:relative;color:#333;margin:15px 5px 10px 5px;background-color:#FFF;border-radius:5px;border:1px solid #1bbc9b;width:90%;margin:auto;margin-top:18px}
.boxM1{position:relative;margin:15px 5px 10px 5px;width:90%;margin:auto;margin-top:18px}
.boxM11{display:inline-block;color:#333;background-color:#FFF;border-radius:5px;border:1px solid #1bbc9b;width:68%;}
.boxM11R{display:inline-block;width:26%;vertical-align:middle;margin-left:2%;}
.boxdiv{height:35px;line-height:35px;position:relative;overflow:hidden;margin:0 15px;}
.boxdivleft{width:67px;text-align:left;position:absolute;}
.boxdivright{position:relative;padding-left:78px;overflow:hidden;font-size:12px}
.boxdivright .selectOption:after{content:' ';position:absolute;top:10px;right:2%;width:10px;height:10px;border:#ababab solid;-webkit-transform:rotate(45deg);border-width:2px 2px 0 0;z-index:1;}
.boxdivright .selectDate{-webkit-background-size:17px auto;background-size:17px auto;}
.boxdivright .selectYear{-webkit-background-size:17px auto;background-size:17px auto;background:url(http://m.xiaoxiangrc.com/content/personal/pimages/Arrow.png) 100% 0px no-repeat;width:50%}
.boxdivright .selectMonth{-webkit-background-size:17px auto;background-size:17px auto;background:url(http://m.xiaoxiangrc.com/content/personal/pimages/Arrow.png) 100% 0px no-repeat;width:40%}
.boxdivright .txt{width:100%;font-family:"Microsoft Yahei",",Verdana,Arial,Helvetica,sans-serif";}
.boxdivright1:after{content:' ';position:absolute;-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-o-transform:rotate(135deg);content:' ';position:absolute;top:12px;right:13px;width:6px;height:6px;border:#B0B0B0 solid;border-width:2px 2px 0 0;}
.loginLine{width:92%;margin:auto;text-align:left;margin-top:8px;line-height:27px;height:33px;margin-bottom:5px;position:relative;}
.loginLine .register_button{right:0;position:absolute;width:100px;color:#ffffff;background:-moz-linear-gradient(top,#05a52b,#05a52b);background:-webkit-gradient(linear,left top,left bottom,from(#05a52b),to(#05a52b));text-align:center;border-radius:2px;cursor:pointer;padding:5px 0;}
.loginLine .login_button{right:0;position:absolute;width:100px;color:#ffffff;background:-moz-linear-gradient(top,#05a52b,#05a52b);background:-webkit-gradient(linear,left top,left bottom,from(#05a52b),to(#05a52b));text-align:center;border-radius:2px;cursor:pointer;padding:5px 0;}
.Over{background:#FFCC00;color:#000000;cursor:pointer;}
.TipsError{position:relative;color:red;margin:15px 5px 10px 5px;width:90%;margin:auto;margin-top:4px}
/**取回密码**/
.GetPassWord{width:100%;height:37px;border:1px solid #d3d2d2;background-color:#e6e6e6;margin-top:20px}
.GetPassWord .p1{width:27%;float:left;text-align:center;margin-top:8px}
.GetPassWord .p2{width:27%;float:left;text-align:center;margin-top:8px}
.GetPassWord .p3{width:26%;float:left;text-align:center;margin-top:8px}
.GetPassWord .p4{width:16%;float:left;text-align:center;margin-top:8px}
.GetPassWord .Select{color:#ff3c00}
sanjiaoGP1{position:absolute;top:92px;*top:-92px;left:12%;display:block;height:0;width:0;font-size:0;line-height:0;border-color:transparent transparent #d3d2d2 transparent;border-style:dashed dashed solid dashed;border-width:8px;}
sanjiaoGP2{position:absolute;top:92px;*top:-92px;left:40%;display:block;height:0;width:0;font-size:0;line-height:0;border-color:transparent transparent #d3d2d2 transparent;border-style:dashed dashed solid dashed;border-width:8px;}
sanjiaoGP3{position:absolute;top:92px;*top:-92px;right:31%;display:block;height:0;width:0;font-size:0;line-height:0;border-color:transparent transparent #d3d2d2 transparent;border-style:dashed dashed solid dashed;border-width:8px;}
sanjiaoGP4{position:absolute;top:92px;*top:-92px;right:11%;display:block;height:0;width:0;font-size:0;line-height:0;border-color:transparent transparent #d3d2d2 transparent;border-style:dashed dashed solid dashed;border-width:8px;}
/**手机认证**/
.CertifMobile{width:100%;height:37px;border:1px solid #d3d2d2;background-color:#e6e6e6;margin-top:20px}
.CertifMobile .p1{width:32%;float:left;text-align:center;margin-top:8px}
.CertifMobile .p2{width:32%;float:left;text-align:center;margin-top:8px}
.CertifMobile .p3{width:32%;float:left;text-align:center;margin-top:8px}
.CertifMobile .Select{color:#ff3c00}
sanjiaoMC1{position:absolute;top:92px;*top:-92px;left:15%;display:block;height:0;width:0;font-size:0;line-height:0;border-color:transparent transparent #d3d2d2 transparent;border-style:dashed dashed solid dashed;border-width:8px;}
sanjiaoMC2{position:absolute;top:92px;*top:-92px;left:47%;display:block;height:0;width:0;font-size:0;line-height:0;border-color:transparent transparent #d3d2d2 transparent;border-style:dashed dashed solid dashed;border-width:8px;}
sanjiaoMC3{position:absolute;top:92px;*top:-92px;right:19%;display:block;height:0;width:0;font-size:0;line-height:0;border-color:transparent transparent #d3d2d2 transparent;border-style:dashed dashed solid dashed;border-width:8px;}
/**一分钟注册简历登录框**/
.minuteLogin{overflow:hidden;width:100%;font-size:14px;margin-bottom:10px;}
.minuteLogin div{color:#666666;border-top:0;border-right:0;overflow:hidden;height:35px;width:24.9%;line-height:35px;float:left;}
.minuteLogin div a{font-size:15px;text-decoration:none;display:block;color:#666666;}
.minuteLogin .selected{width:24%;border-bottom:1px solid #ff9327;padding-top:5px;padding-bottom:5px}
.minuteLogin .selected .personlogin{display:inline-block;width:30px;height:30px;background:url(../pimages/loginicon.png) 0px 0px no-repeat;vertical-align:middle;}
.btnClose{display:inline-block;width:18px;height:18px;background:url(http://m.xiaoxiangrc.com/content/personal/pimages/jobsearch.png) -270px 8px no-repeat;vertical-align:middle;width:3%;float:right}
.menu_icon{width:20px;height:17px;position:absolute;top:50%;left:15px;margin-top:-8px;}
.menu_icon i{display:block;height:3px;width:30px;background:#FFF;border-radius:2px;position:absolute;top:50%;left:0;margin-top:-2px;}
.menu_icon i:after{content:'';height:3px;width:30px;background:#FFF;border-radius:2px;position:absolute;top:-7px;left:0;}
.menu_icon i:before{content:'';height:3px;width:30px;background:#FFF;border-radius:2px;position:absolute;bottom:-7px;left:0;}
.NewsImg{width:94%;border:1px solid #d0cece;margin:0px auto;margin-top:15px;background:url(http://m.xiaoxiangrc.com/content/personal/pimages/govnews.jpg)no-repeat;height:30px}
.NewsList{width:94%;border:1px solid #d0cece;margin:0px auto;margin-top:15px;background:#ffffff}
.NewsList .con{margin:5px 10px;}
.NewsList .con .titleh{color:#000;font-size:16px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;display:block}
.NewsList .con .contentGov{color:#8e8e8e;font-size:14px}
.pagemore{height:60px;line-height:60px;text-align:center;}
.NewsList .NewTitle{text-align:center;margin-left:8px;margin-right:8px}
.NewsList .JobTitle{font-weight:bold}
.NewsList .JobAutho{font-size:14px}
.NewsList hr{margin-left:8px;margin-right:8px}
.NewsList .JobContent{margin-left:8px;margin-right:8px}
.NewsList .JobContent img{max-width:200px}
.appendix{margin:0 8px 20px 8px;}
.sAppendix{display:inline-block;width:30px;height:30px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) -128px 4px no-repeat;}
.sAppendixR{display:inline-block;vertical-align:top;padding-top:8px;}
/*宣讲会*/
.xjhTop{background-color:#fff;width:100%;height:50px;margin:0 auto;padding-top:20px;}
.xyxjTop{background-color:#fff;width:100%;height:30px;margin:0 auto;}
.xjhRegion{float:left;width:40%;height:35px;}
.xjhSchool{float:right;width:60%;height:35px;}
.ddlRegion{float:right;width:75%;margin-right:10px;height:35px;border:2px solid #efefef;}
.ddlSchool{float:left;width:75%;height:35px;border:2px solid #efefef;}
.regionText{float:left;display:block;margin-top:5px;margin-left:10px;color:#aaa;}
.regionIcon{display:block;float:right;width:20px;height:25px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) 0px 12px no-repeat;vertical-align:middle;}
.schoolText{float:left;display:block;margin-top:5px;margin-left:10px;color:#aaa;}
.schoolIcon{display:block;float:right;width:20px;height:25px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) 0px 12px no-repeat;vertical-align:middle;}
.xjh{display:inline-block;width:100%;border-top:1px solid #efefef;background-color:#fff;margin-bottom:15px;}
.xjh_body{width:90%;margin:0 auto;}
.xjhL1{width:90%;margin:0 auto;height:42px;}
.cpName{float:left;padding-top:12px;width:80%;height:30px;font-size:18px;display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.today{float:right;width:43px;height:42px;text-align:center;color:#fff;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) -215px 0 no-repeat;}
.dateCount{float:right;width:34px;height:28px;text-align:center;padding-top:4px;color:#fff;font-size:12px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) -167px 0 no-repeat;}
.xjhL2{width:90%;margin:0 auto;height:25px;color:#909090;}
.xjhL3{width:90%;margin:0 auto;color:#909090;display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.xjhL4{width:90%;margin:0 auto;color:#909090;display:block;}
.xjhL3 a{color:#46abfd;}
.xjh_bottom{width:100%;height:50px;border-top:1px solid #efefef;background-color:#fff;}
/*就业资讯*/
.job_menu{overflow:hidden;width:100%;font-size:14px;background:#fafafa;margin-bottom:0;}
.job_menu div{color:#666666;border-top:0;border-right:0;overflow:hidden;text-align:center;height:35px;line-height:35px;float:left;}
.job_menu div a{font-size:15px;text-decoration:none;display:block;color:#666666;}
.job_menu .selected{border-bottom:4px solid #ff9327;padding-top:5px;padding-bottom:2px}
.job_menu .noselected{border-bottom:1px solid #c9c9c9;padding-top:5px;padding-bottom:5px}
.job_menu .selected a{font-size:16px;color:#ff3c00;}
.job_menu .noselected a{font-size:16px;color:#666666;}
.arrowText{display:block;float:right;width:40px;height:25px;vertical-align:middle;color:Green;}
.arrowIconDown{display:block;float:left;width:15px;height:25px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) 0px 12px no-repeat;vertical-align:bottom;margin-top:2px;}
.arrowIconUp{display:block;float:left;width:15px;height:25px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) -20px 12px no-repeat;vertical-align:bottom;margin-top:2px;}
.closeLeft{width:55%;}
.closeRight{width:45%;}
.newsBox{width:90%;margin:20px auto;border:1px solid #000;background-color:#fff;padding:10px;}
.newsTop{width:90%;height:50px;}
.newsTitle{width:100%;font-size:18px;font-weight:bold;}
.newsInfo{width:100%;height:30px;}
.newsViewNum{float:left;display:block;}
.newsDate{float:right;display:block;}
.newsContent{width:100%;height:95px;margin-top:10px;}
.jobnewsImg{width:20%;float:left;}
.jobnewsText{color:#000;width:65%;float:right;}
.xjh_bottom{width:100%;height:50px;border-top:1px solid #efefef;background-color:#fff;}
.goTop{width:90%;margin:0 auto;margin-top:30px;}
.jobnews ul{margin:0;padding:0}
.jobnews ul li{border-bottom:1px solid #ccc;position:relative;}
.jobnews ul li:after{content:' ';position:absolute;top:50%;margin-top:-3px;right:15px;width:12px;height:12px;border:#AAA solid;-webkit-transform:rotate(45deg);border-width:1px 1px 0 0;}
.jobnews div.news1{padding:10px 15px;border-bottom:1px solid #ccc;}
.jobnews dl{overflow:hidden;position:relative;height:74px;}
.jobnews dt{position:absolute;top:0;left:0;}
.jobnews dt img{width:74px;height:74px;background:#EEE;}
.jobnews dd.text{font-size:13px;line-height:18px;margin-left:84px;padding-top:3px;}
.jobnews dd.title{font-size:16px;line-height:20px;margin-left:84px;}
.jobnews dd a{color:#797979;}
.jobnews dd.title a{color:#151515;}
.jobnews dd a:visited{color:#777776;}
.jobnews dd.title a:visited{color:#333332;}
.jobnews li{padding:15px 20px 15px 15px;}
.jobnews li span.text1{font-size:13px;line-height:18px;display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.jobnews li .title1{font-size:16px;line-height:20px;display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden}
.jobnews li span.text1 a{color:#797979;}
.jobnews li .title1 a{color:#151515;}
.jobnews li a:visited{color:#777776;}
.jobnews li .title1 a:visited{color:#333332;}
.compuscontent{width:94%;margin:0 auto;}
.compuscontent .ctitle{text-align:center;font-size:18px;font-weight:bold}
.compuscontent .city{color:#909090;font-size:16px}
/*招聘会*/
.myBespeak{display:inline-block;width:80px;background-color:#fb683c;border-radius:3px;border:1px solid #f6450f;}
.stateIng1{width:35px;height:40px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) 0px -12px no-repeat;margin-left:5px;}
.stateIng2{color:#a6310e;}
.stateWill1{width:35px;height:38px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) 0px -52px no-repeat;margin-left:12px;}
.stateWill2{color:#53d654;}
.zph_stateEnd{float:right;width:45px;height:45px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/out_date.png) no-repeat;}
.zph{width:100%;display:inline-block;border-bottom:1px solid #efefef;background-color:#fff;}
.zph:first-child{border-top:none;}
.zph_content{float:left;width:74%;}
.zph_name{margin:15px;font-size:16px;color:#252525;}
.zph_time{margin-left:15px;color:#6b6b6b;font-size:12px;}
.zph_site{margin-top:5px;margin-left:15px;color:#6b6b6b;font-size:12px;}
.site_text{display:inline-block;vertical-align:top;}
.site_map{display:inline-block;width:14px;height:20px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/icons_01.png) -132px -3px no-repeat;}
.zph_place{margin-left:15px;margin-top:3px;margin-bottom:10px;color:#6b6b6b;font-size:12px;}
.zph_state{float:right;width:20%;height:50%;padding-top:50px;padding-right:5px}
.zph_bottom{width:100%;height:50px;border-top:1px solid #efefef;background-color:#fff;}
.zphTop{width:100%;height:50px;background-color:#f8f9fb;border-bottom:1px solid #efefef;}
.ddlDate{float:left;width:30%;padding:14px 0;text-align:center;border-right:1px solid #e5e5e5;}
.txtDate{display:inline-block;text-align:center;width:60px;margin-right:5px;background-color:#f8f9fb;}
.ddlRegions{float:left;width:30%;padding:15px 0;text-align:center;border-right:1px solid #e5e5e5;}
.ddlSite{float:left;width:37%;padding:15px 0;text-align:center;}
.zphOption{content:' ';width:10px;height:10px;border:#03b11e solid;vertical-align:top;-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);border-width:0 0 1px 1px;display:inline-block;}
.zphOption1{content:' ';width:10px;height:10px;border:#03b11e solid;-webkit-transform:rotate(135deg);-moz-transform:rotate(135deg);-o-transform:rotate(135deg);border-width:0 0 1px 1px;display:none;}
.sites{width:90%;margin:0 auto;z-index:100;background-color:#fff;position:relative;top:10px;left:5%;border:1px solid #000;}
.site{width:96%;height:30px;border-bottom:1px solid #efefef;padding:10px 2% 10px 2%;}
.zphDetails_Bg{width:90%;margin:0 auto;}
.zphDetail_Title{margin-top:20px;font-size:18px;font-weight:bold;}
.zphDetail_View{margin-top:5px;font-size:14px;color:Gray;}
.zphDetail_Parts{width:96%;margin:20px auto;background-color:#efefef;border:1px solid #cacaca;height:50px;}
.zphDetail_Cp{float:left;width:49%;height:50px;border-right:1px solid #cacaca;text-align:center;}
.zphDetail_Pa{float:right;width:49%;height:50px;text-align:center;}
.zphDetail_CpIcon{display:inline-block;width:35px;height:40px;margin-top:10px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) -88px 0 no-repeat;}
.zphDetail_PartsText{display:inline-block;vertical-align:top;padding-top:14px;margin-right:3px;}
.zphDetail_PartsNum{display:inline-block;font-size:19px;color:#029e39;font-weight:bold;vertical-align:top;padding-top:12px;}
.zphDetail_PaIcon{display:inline-block;width:30px;height:40px;margin-top:10px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) -50px 0 no-repeat;}
.zphDetail_line{margin-top:10px;margin-bottom:10px;}
.zphDetail_site{margin-top:5px;margin-bottom:5px;}
.zphDetail_place{margin-top:5px;margin-bottom:15px;}
.hr_dashed{width:100%;border-top:1px dashed #efefef;margin-top:10px;margin-bottom:10px;}
.hr_dashed1{width:100%;border-top:1px dashed #818181;margin-top:20px;margin-bottom:20px;}
.zphDetail_Bus{width:100%;padding-bottom:30px;}
.zphDetail_ViewBg{width:100%;height:50px;margin-top:20px;}
.zphDetail_hr{display:inline-block;width:35%;height:6px;border-top:1px solid #e5e5e5;}
.zphDetail_ViewMore{display:inline-block;width:30%;text-align:center;color:#ff8361;}
.zphDetail_ViewImg{width:45%;height:30px;margin:0 auto;padding-top:5px;background-color:#22ad38;border-radius:3px;text-align:center;margin-bottom:30px;color:#fff;}
.zphDetail_ViewImg a{color:#fff;font-size:16px;}
.zphDetail_Img{height:300px;}
.zphDetail_Img img{width:100%;}
.zphDetail_JoinBg{width:100%;background-color:#f8f9fb;border-top:1px solid #ededed;padding-bottom:20px;}
.zphDetail_Join{width:25%;height:30px;margin:0 auto;margin-top:20px;padding-top:5px;background-color:#ff5a28;border-radius:3px;text-align:center;}
.zphDetail_Join a{color:#fff;font-size:16px;}
.photoMain{width:100%;display:inline-block;}
.photoLeft{width:5%;float:left;cursor:pointer;margin-top:100px;}
.photoContent{width:90%;height:210px;float:left;margin:0 auto;}
.photoDiv{position:absolute;width:80%;max-width:500px;height:210px;display:none;text-align:center;vertical-align:middle;}
.photoDiv img{padding-top:2px;padding-left:4px;padding-bottom:4px;padding-right:4px;width:92%;height:210px;border:1px solid #999999;vertical-align:middle;}
.photoRight{width:5%;float:right;margin-top:100px;cursor:pointer;}
.overdue{float:right;width:34px;height:28px;text-align:center;padding-top:4px;font-size:12px;color:#fff;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) -274px 0 no-repeat;}
/*参会企业*/
.chqyRow{width:100%;display:inline-block;padding-bottom:10px;border-bottom:1px solid #d7d7d7;}
.chqyRow_left{float:left;width:11%;}
.chqyRow_ck{margin-left:40%;margin-top:35px;}
.ck_yes{display:inline-block;width:50px;height:20px;background:url(http://m.xiaoxiangrc.com/Content/Home/Images/menu_icons.png) -317px -237px no-repeat;padding-left:25px;}
.ck_no{display:inline-block;width:45px;height:20px;background:url(http://m.xiaoxiangrc.com/Content/Home/Images/menu_icons.png) -317px -312px no-repeat;padding-left:25px;}
.ck_no1{display:inline-block;width:45px;height:20px;background:url(http://m.xiaoxiangrc.com/Content/Home/Images/menu_icons.png) -317px 0 no-repeat;padding-left:25px;}
.chqyRow_middle{float:left;width:60%;}
.chqyRow_right{float:left;width:25%;}
.chqyCp{font-size:18px;margin-top:20px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;}
.chqyCpAdr{font-size:14px;color:#6b6b6b;margin-top:10px;}
.chqyCpAdr1{font-size:14px;color:#6b6b6b;margin-top:10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:100%;}
.chqyTime{font-size:14px;color:#6b6b6b;margin-top:10px;}
.chqyRow_r1{width:40px;height:40px;margin-left:20px;margin-top:35px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) 0px -90px no-repeat;}
.chqyRow_r2{width:80px;height:20px;margin-top:5px;margin-left:5px;color:#fd6e44;}
.chqyRow_r3{width:80px;height:20px;margin-top:35px;margin-left:20px;}
.chqySum{width:100%;max-width:640px;position:fixed!important;bottom:0px!important;height:60px;border-top:1px solid #e1e1e1;background-color:#f8f9fb;}
.chqyAll_left{float:left;width:25%;}
.chqyAll_right{float:left;width:75%;margin:0 auto;height:40px;}
.chqyAll_pre{display:inline-block;width:120px;height:30px;margin-top:10px;padding-top:10px;text-align:center;background-color:#ff5a28;border-radius:3px;color:#fff;}
#bk{min-height:500px;background-color:white;}
.bkBottom{margin-bottom:65px;}
.myRmInfo{width:95%;margin:20px 0 0 5%;color:#808080;}
.myRmBox{width:100%;border-top:1px solid #dedede;display:inline-block;margin-top:20px;}
.myRmHref1{float:left;width:5px;height:30px;margin:20px 20px 50px 0;background-color:#ff5b28;}
.myRmHref2{float:left;width:5px;height:30px;margin:20px 20px 50px 0;background-color:#444;}
.myRmContent{float:left;width:88%;display:inline-block;}
.myRm_Row1{width:100%;}
.myRm_jobName{display:inline-block;margin-top:15px;font-size:18px;vertical-align:top;}
.myRm_jobName a{color:#252525;}
.myRm_online{display:inline-block;width:41px;height:25px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/icons_01.png) -1px -59px no-repeat;background-size:18em 15.7em;}
.myRm_offline{display:inline-block;margin-top:12px;width:41px;height:25px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/icons_01.png) -6px -95px no-repeat;}
.myRm_cpName{width:100%;margin-top:10px;font-size:14px;color:#6b6b6b;}
.myRm_line{width:100%;margin-top:10px;font-size:14px;color:#6b6b6b;}
.myRm_time{width:100%;margin-top:10px;}
.myRm_isgo1{float:left;width:50%;margin:15px auto;}
.myRm_isgo2{float:left;width:50%;margin:15px auto;}
.myRm_go{display:inline-block;float:right;width:50%;height:30px;margin-right:5%;background-color:#04bb23;border-radius:3px;color:#fff;font-size:18px;text-align:center;padding-top:5px;}
.myRm_nogo{display:inline-block;float:left;width:50%;height:30px;margin-left:5%;background-color:#ff5a28;border-radius:3px;color:#fff;font-size:18px;text-align:center;padding-top:5px;}
.myRm_gos{display:inline-block;width:70px;height:23px;margin-top:15px;background-color:#ff5b28;border-radius:5px;color:#fff;text-align:center;vertical-align:top;}
.myRm_nogos{display:inline-block;width:70px;height:23px;margin-top:15px;background-color:#b3b3b5;border-radius:5px;color:#fff;text-align:center;vertical-align:top;}
.myRm_outdate{color:Gray;display:inline-block;margin-top:18px;vertical-align:top;}
.myRm_hrdashed{width:100%;border-top:2px dashed #efefef;margin-top:15px;margin-bottom:15px;}
.myRm_bottom{width:100%;height:50px;}
#redSpot{display:inline-block;width:25px;height:31px;vertical-align:top;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/paIcon.png) -102px 5px no-repeat;}
.phoneCall{display:inline-block;width:25px;height:20px;margin-top:5px;margin-left:10px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/icons_01.png) -255px 0 no-repeat;}
.vaMiddle{display:inline-block;vertical-align:top;padding-top:5px;}
.nogoReason{width:100%;height:60px;margin-top:10px;border:1px solid #efefef;padding-left:20px;padding-top:5px;}
.myRm_gos1{display:inline-block;width:43px;height:18px;background-color:#04bb23;border-radius:4px;color:#fff;text-align:center;vertical-align:top;padding-top:2px;}
.myRm_nogos1{display:inline-block;width:55px;height:17px;background-color:#aaa;border-radius:4px;color:#fff;text-align:center;vertical-align:top;padding-top:3px;}
/*我邀请的企业*/
.myCp{width:94%;display:inline-block;border-bottom:1px solid #efefef;padding:0 3%;margin-top:20px;padding-bottom:20px;}
.myCp_row{width:100%;display:inline-block;margin-top:5px;}
.myCp_audit{display:inline-block;width:25px;height:20px;vertical-align:top;margin-top:2px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/isAudit.png) no-repeat;}
.myCp_name{vertical-align:top;font-size:18px;color:#252525;display:inline-block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:85%;}
.myCp_left{float:left;width:70%;}
.myCp_right{float:right;width:30%;}
.myCp_SR{float:right;}
.myCp_go{display:inline-block;width:60px;height:25px;background-color:#04bb23;border-radius:8px;color:#fff;text-align:center;}
.myCp_nogo{display:inline-block;width:60px;height:25px;background-color:#ff5a28;border-radius:8px;color:#fff;text-align:center;}
.myCp_noReply{display:inline-block;width:50px;height:16px;padding-top:2px;font-size:14px;background-color:#b5b3b4;border-radius:3px;color:#fff;text-align:center;}
/*邀请企业参会*/
.mjInfo{width:98%;margin-top:20px;padding-left:2%;color:#808080;border-bottom:1px solid #d7d7d7;padding-bottom:10px;}
.mjInfo1{width:98%;height:30px;margin-top:20px;padding-left:2%;color:#808080;border-bottom:1px solid #d7d7d7;}
.xgRm{float:right;margin-right:5%;margin-top:-5px;width:135px;min-width:100px;height:30px;border:1px solid #d7d7d7;text-align:center;}
.xgRm_text{display:inline-block;vertical-align:top;margin-top:5px;}
.trangle_br{float:right;display:inline-block;width:0;height:0;border-bottom:10px solid #9d9d9d;border-left:10px solid transparent;margin-top:20px;}
.myJob_Row{width:100%;display:inline-block;border-bottom:1px solid #d7d7d7;padding:10px 0;}
.myJob_Top{display:inline-block;width:85%;margin-left:15%;}
.mjRow_left{float:left;width:15%;}
.mjRow_ck{margin-left:40%;}
.chqyRow_ckAll{margin-left:20%;margin-top:15px;}
.mjRow_middle{float:left;width:55%;}
.mjRow_right{float:right;width:20%;text-align:center;}
.myJob_name{font-size:18px;display:inline-block;color:#000;vertical-align:bottom;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:56%;}
.cdJobName{font-size:18px;display:inline-block;color:#000;vertical-align:bottom;}
.myJob_name a{color:#252525;}
.mjSum{width:100%;max-width:640px;height:60px;background-color:#f8f9fb;position:fixed!important;bottom:0px!important;}
.mjApply_All{display:inline-block;width:50%;height:30px;background-color:#fd6e44;border-radius:8px;color:#fff;text-align:center;font-size:18px;padding-top:10px;margin-top:10px;}
.myJob_match{display:inline-block;/*width:65px;*/
height:16px;background-color:#04bb23;border-radius:4px;color:#fff;text-align:center;font-size:12px;padding-top:2px;}
.mjRow_r1{display:inline-block;width:36px;height:36px;margin-top:5px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/schoolIcon.png) 0px -90px no-repeat;}
.mjRow_r2{display:inline-block;width:100%;height:20px;color:#fd6e44;}
/*职位申请*/
.myJob_Row1{width:100%;display:inline-block;border-bottom:1px solid #d7d7d7;padding-bottom:10px;}
.myJob_Top1{margin-top:10px;display:inline-block;width:69%;margin-left:15%;}
.myJobR{display:inline-block;float:left;width:85%;}
.myJob_Top2{margin-top:10px;display:inline-block;width:56%;}
.zph_stateNull{float:right;width:45px;height:45px;}
.mjRow_right1{float:left;width:80%;}
.mjRow_right2{float:left;width:92%;}
.mjCpName{display:inline-block;font-size:14px;color:#6b6b6b;margin-top:10px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:65%}
.mjApTime{display:inline-block;font-size:14px;color:#6b6b6b;margin-top:10px;}
.jobReply{display:inline-block;float:right;text-align:right;font-size:14px;color:#989898;margin-top:10px;}
.delAll{float:left;width:100%;margin:0 auto;height:40px;}
.btnDelAll{display:inline-block;width:40%;margin:0 30%;height:30px;background-color:#efebec;border:1px solid #c9c7c8;border-radius:5px;text-align:center;font-size:18px;padding-top:8px;margin-top:10px;}
/*职位浏览*/
.deleted{float:right;width:45px;height:45px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/deleted.png) no-repeat;}
.viewColumnL{margin-left:30%;margin-top:25px;}
.viewColumnR{margin-left:20%;margin-top:20px;}
.collectStar{display:inline-block;width:30px;height:35px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/icons_01.png) -215px -60px no-repeat;}
.collectTx{display:inline-block;text-align:center;vertical-align:top;margin-left:5px;padding-top:10px;}
.viewStatus{display:inline-block;float:right;width:50px;background-color:#019fe9;border-radius:3px;font-size:14px;color:#fff;text-align:center;margin-top:10px;padding-top:1px;}
.viewSalary{display:inline-block;float:right;text-align:right;font-size:14px;color:#ff835f;margin-top:10px;}
.viewAll_left{float:left;width:30%;text-align:center;}
.viewAll_middle{float:left;width:40%;}
.viewApply_All{display:inline-block;width:80%;height:30px;background-color:#fd6e44;border-radius:3px;color:#fff;text-align:center;font-size:18px;padding-top:7px;margin-top:15px;}
.viewAll_right{float:left;width:30%;text-align:center;}
.collectDel_All{display:inline-block;width:86%;height:25px;background-color:#efebec;border:1px solid #c9c7c8;border-radius:8px;text-align:center;font-size:16px;padding-top:5px;margin-top:17px;}
.mjSum1{float:left;width:84%;height:60px;background-color:#f8f9fb;}
.ypyq_del{float:left;width:15%;height:80px;background-color:#f8f9fb;border-left:1px solid #efefef;text-align:center;}
.ypyq_delTx{display:inline-block;text-align:center;vertical-align:top;margin-left:15%;padding-top:28px;}
.viewColumnL1{margin-top:25px;}
.viewColumnR1{text-align:center;margin-top:15px;}
/*邀请企业*/
.incp_Top{width:100%;height:20px;background-color:#fff;}
.incp_zph{display:inline-block;width:96%;margin:20px 2%;padding-bottom:20px;background-color:#fff;}
.incp_Title{font-size:18px;font-weight:bold;padding-left:5px;}
.incp_Box{margin:0 auto;margin-top:10px;width:98%;height:40px;border:1px solid #cac6c7;border-radius:3px;background-color:#fff;}
.incp_BoxL{display:inline-block;padding-top:10px;padding-left:5px;width:28%;}
.incp_BoxR{float:right;display:inline-block;padding-top:10px;padding-right:15px;width:60%}
.incp_BoxR1{float:right;display:inline-block;padding-top:10px;padding-right:15px;width:60%}
.incp_BoxR:after{display:inline-block;content:' ';width:10px;height:10px;margin-left:5px;border:#b7b7b7 solid;border-width:0 0 2px 2px;-webkit-transform:rotate(225deg);-moz-transform:rotate(225deg);-o-transform:rotate(225deg);float:right}
.incp_BoxR1:after{display:inline-block;position:relative;content:' ';z-index:1;width:10px;height:10px;top:-14px;right:5px;border:#b7b7b7 solid;border-width:0 0 2px 2px;-webkit-transform:rotate(225deg);-moz-transform:rotate(225deg);-o-transform:rotate(225deg);float:right}
.incp_List{display:inline-block;width:96%;margin:20px 2%;padding-bottom:50px;}
.incp_Name{display:inline-block;margin-left:12px;font-size:16px;font-weight:bold;margin-top:20px;}
.incp_List1{display:inline-block;width:96%;margin:20px 2%;padding-bottom:20px;background-color:#fff;}
.incp_Name1{display:inline-block;margin-left:12px;font-size:16px;font-weight:bold;color:#0d48ac;}
.incp_Bottom{width:100%;height:60px;position:fixed!important;bottom:0px!important;max-width:640px;display:inline-block;background-color:#f8f9fb;border-top:1px solid #d5d5d5;}
.incp_Bottom1{width:100%;height:60px;max-width:640px;display:inline-block;background-color:#f8f9fb;border-top:1px solid #d5d5d5;}
.incp_Invite{display:inline-block;width:40%;margin:0 30%;height:30px;background-color:#fd6e44;border-radius:3px;color:#fff;text-align:center;font-size:18px;padding-top:10px;margin-top:10px;}
.incp_Date{display:inline-block;width:90px;vertical-align:top;}
sanjiaoS{position:absolute;top:-20px;*top:-22px;right:18%;display:block;height:0;width:0;font-size:0;line-height:0;border-color:transparent transparent #666 transparent;border-style:dashed dashed solid dashed;border-width:10px;}
sanjiaoI{position:absolute;top:-9px;*top:-9px;left:-10px;display:block;height:0;width:0;font-size:0;line-height:0;border-color:transparent transparent #fff transparent;border-style:dashed dashed solid dashed;border-width:10px;}
.radioYes{display:inline-block;width:20px;height:22px;background:url(http://m.xiaoxiangrc.com/Content/Home/Images/menu_icons.png) -317px -79px no-repeat;}
.radioNo{display:inline-block;width:20px;height:20px;background:url(http://m.xiaoxiangrc.com/Content/Home/Images/menu_icons.png) -317px -150px no-repeat;}
.sp1{font:12px '宋体' normal;line-height:15px;}
.bt1{background-color:#ff5a28;border-radius:3px;width:113px;height:30px;border:none;cursor:pointer;color:#fff;padding-top:5px;}
.bt2{background-color:#b0b0b0;border-radius:3px;width:113px;height:30px;border:none;cursor:pointer;color:#fff;padding-top:5px;}
.popWin td{font-size:12px;color:#666}
.duihao{display:inline-block;width:50px;height:50px;background:url(http://m.xiaoxiangrc.com/Content/Home/Images/menu_icons.png) -180px -25px no-repeat;}
.btnClose{display:inline-block;width:20px;height:18px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/icons_01.png) -278px 5px no-repeat;vertical-align:middle;float:right}
/****************************薪酬报告*******************************/
.saTop{width:92%;padding:20px 4%;}
.saBox{margin-top:10px;width:100%;height:40px;border:1px solid #cac6c7;border-radius:3px;background-color:#fafafa;}
.saBoxL{display:inline-block;padding-top:10px;padding-left:15px;width:35%;}
.saBoxR{float:right;display:inline-block;padding-top:10px;padding-right:5%;width:48%}
.saBoxR:after{display:inline-block;content:' ';width:10px;height:10px;margin-left:5px;margin-top:5px;border:#b7b7b7 solid;border-width:0 0 2px 2px;-webkit-transform:rotate(225deg);-moz-transform:rotate(225deg);-o-transform:rotate(225deg);float:right;}
.saQuery{display:inline-block;width:100%;height:40px;margin-top:20px;margin-bottom:10px;background-color:#ff5a28;border-radius:3px;color:#fff;text-align:center;font-size:18px;}
.saResutTt{display:inline-block;width:96%;height:30px;background-color:#e3e3e3;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;font-size:18px;font-weight:bold;padding-left:4%;padding-top:8px;}
.saBody{width:96%;padding:30px 2%;}
.saRt{background-color:#fff;border:1px solid #d4d4d4;margin-bottom:20px;}
.saBodyTt{font-family:"微软雅黑";font-size:16px;background-color:#f4f2f3;padding:5px 0 10px 10px;border-bottom:1px solid #e0dedf;}
.saBodyTt span{color:#FF6600;}
.Bar{position:absolute;}
.Bar .avgSite{display:inline-block;background:#1ec4a0;height:18px;width:18px;margin-right:5px;}
.Bar .avgCountry{display:inline-block;background:#feca43;height:18px;width:18px;margin-right:5px;}
.tbAvg{border-bottom:1px solid #e0dedf;}
.tbAvg td{border:none;height:40px;vertical-align:top;border-right:1px #e0dedf solid;width:17%;}
.tbAvg td.firstTd{width:5%;}
.tbAvg td.lastTd{border:none;width:10%;}
.tbAvg_x span{display:inline-block;width:17%;font-family:Arial;font-size:14px;}
.saNotice{display:inline-block;width:99%;margin-top:10px;margin-left:1%;}
.saNotice span{color:#b1b1b1;font-size:15px;line-height:24px;}
.saNotice1{display:inline-block;width:94%;margin-top:10px;margin-left:3%;}
.saNotice1 span{font-size:14px;color:#b1b1b1;line-height:24px;}
.saContent{margin-top:20px;margin-bottom:20px;}
.tableBLeft{float:left;width:15%;}
.tableBLeft span{display:inline-block;width:50%;height:41px;padding-left:20%;font-size:14px;}
.tableB{border:1px #e1e8f0 solid;border-top:none;width:75%;}
.tableB_x span{display:inline-block;width:15.5%;font-family:Arial;text-align:center;white-space:nowrap;font-size:14px;}
.tableB td{border:none;height:40px;vertical-align:top;border-top:1px #e1e8f0 dotted;width:17%;}
.tableB .top td{border-top:none;}
.tableB_x{margin-left:15%;}
.saRankRow{width:96%;margin-left:2%;margin-bottom:10px;}
.saNo1{display:inline-block;width:25px;height:25px;background-color:#fd5f60;border-radius:25px;color:#fff;text-align:center;margin-bottom:10px;}
.saNo2{display:inline-block;width:25px;height:25px;background-color:#1fc5a1;border-radius:25px;color:#fff;text-align:center;}
.saNo3{display:inline-block;width:25px;height:25px;background-color:#006cbe;border-radius:25px;color:#fff;text-align:center;}
.saNoOthers{display:inline-block;width:25px;height:25px;background-color:#b6b6b6;border-radius:25px;color:#fff;text-align:center;}
.saNoTx{display:inline-block;padding-top:2px;font-size:15px;}
.saRankRowTx{display:inline-block;width:86%;margin-top:5px;margin-left:1%;padding-bottom:10px;border-bottom:1px dashed #d5d5d5;}
.Salary{display:inline-block;float:right;}
.Bar span{vertical-align:middle;}
.Bar .SalaryNo{font-family:Arial;font-size:14px;font-weight:bold;color:#666666;}
.BarB{position:absolute;width:25px;text-align:center;margin-left:30px;}
.BarB span{vertical-align:middle;}
.BarB .BarBlue{display:inline-block;background:#006dbf;height:18px;width:22px;}
.BarB .BarRed{display:inline-block;background:#d30021;height:18px;width:22px;}
.BarB .SalaryNo{font-family:Arial;font-size:14px;font-weight:bold;color:#666666;}
.tbTitle{color:#999999;margin-left:15px;white-space:nowrap;}
#scrollTop{position:fixed!important;bottom:70px!important;width:15%;max-width:88px;opacity:0.5;}
.footer{height:150px;text-align:center;position:relative;z-index:1;font-size:14px;background-color:#f1f1f1;}
.footer .footer_top{background-color:#929292;height:38px;line-height:38px;color:#fff;}
.footer .footer_top .islogin{float:left;margin-left:15px;line-height:38px;height:38px;}
.footer .footer_top .islogin a:nth-child(2){margin-left:10px;}
.footer .footer_top a{color:#fff;font-size:18px;}
.footer .footer_bottom .gotop{position:fixed!important;bottom:20px!important;width:15%;max-width:88px;}
.footer .footer_bottom .links{margin-top:10px;}
.footer .footer_bottom .links{padding:10px 0;}
.footer .footer_bottom .links a{color:#006cb8;font-size:14px;}
.footer .footer_bottom .links span{font-size:14px;}
.footer .copyRight{font-size:14px;}
.nothing{width:100%;text-align:center;margin-bottom:20px;margin-top:20px;font-weight:bold}
.btnClose1{display:inline-block;width:20px;height:18px;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/icons_01.png) -278px 5px no-repeat;float:right;}
.alertInfo{display:inline-block;width:60px;height:40px;margin-left:5%;background:url(http://m.xiaoxiangrc.com/Content/Personal/PImages/icons_01.png) -330px 0 no-repeat;}
